@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.maintitle {
    animation: fadeIn 1s;
}

.home__main {
    background-image: url('../assets/academic-building.jpg');
}

.home__img-div {
    background-color: rgba(0, 0, 0, 0.6)
}

#to-top-button {
    justify-content: center;
    align-items: center;
}