@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.maintitle {
    animation: fadeIn 1s;
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(4%);
    }

    100% {
        transform: translateY(0);
    }
}

.maincontent1 {
    animation: 1s ease-out 0s 1 slideInFromBottom;
}

.maincontent2 {
    animation: 1s ease-out 0s 1 slideInFromBottom;
}

.navtitle {
    text-shadow: 1px 1px 1px #5b5b5b, 1px 2px 1px #666666,
        1px 2px 1px #666666, 1px 2px 1px #666666, 1px 2px 1px #666666,
        1px 3px 1px #666666, 1px 3px 1px #666666, 1px 3px 1px #666666,
        1px 3px 1px #666666, 1px 3px 1px #666666,
        1px 3px 6px rgba(16, 16, 16, 0.4), 1px 4px 10px rgba(16, 16, 16, 0.2),
        1px 3px 35px rgba(16, 16, 16, 0.2), 1px 5px 60px rgba(16, 16, 16, 0.4);
}